<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyContactsDB.Properties.Settings.ContactsConnectionString"
            connectionString="Data Source=DESKTOP-KRLBG0Q\SQLEXPRESS;Initial Catalog=Contacts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>